script(src='/web/js/lib/jquery.js')
script(src='/web/js/lib/highcharts.js')
div(class='main__container-header')
    div(class='header__buttons')
        div(class='header__button m-selected') Личные финансы
        div(class='header__button') Корпоративный сектор
div(class='main__container-logoheader')
    div(class='logoheader-name') ФИНАНСОВЫЙ ПОМОЩНИК
    div(class='logoheader-icon')
    div(class='logoheader-buttons')
        div(class='logoheader-button m-phone') Контакты
        div(class='logoheader-button m-search') Поиск
        div(class='logoheader-button m-faq') FAQ
    a(class='logoheader-logincontainer' href='./login.html') Вход
div(class='main__container-menubar')
    div(class='menu__buttons')
        a(class='menu__button m-home' href='./index.html')
        div(class='menu__button') Планирование
        a(class='menu__button' href='./transaction.html') Транзакции
        div(class='menu__button') Анализ
        div(class='menu__button') Друзья