div(class='logform')
    div(class='logform__container')
        div(class='logform__menu')
            div(class='logform__menu-button m-active') Авторизация
            a(class='logform__menu-button' href='./registration.html') Регистрация
        div(class='logform__form')
            div(class='logform__form-label') Войти в личный кабинет
            div(class='logform__form-field')
                input(class='logform__form-field__input' placeholder='логин' data-name='login')
            div(class='logform__form-field')
                input(class='logform__form-field__input' placeholder='пароль' type='password' data-name='password')
            div(class='logform__form-recover') Забыли пароль
            div(class='logform__form-enter' data-click='login') Войти