html
    head
        title My Finance
        link(href="./css/registration.css" rel="stylesheet")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8/")
    body
        div(class='regform')
            div(class='regform__container')
                div(class='regform__menu')
                    div(class='regform__menu-button') Авторизация
                    div(class='regform__menu-button m-active') Регистрация
                div(class='regform__form')
                    div(class='regform__form-label') Регистрация
                    div(class='regform__form-fields')
                        div(class='regform__form-fields__label') Имя
                        input(class='regform__form-fields__input')
                    div(class='regform__form-fields')
                        div(class='regform__form-fields__label') Телефон
                        input(class='regform__form-fields__input')
                    div(class='regform__form-fields')
                        div(class='regform__form-fields__label') Почта
                        input(class='regform__form-fields__input')
                    div(class='regform__form-fields')
                        div(class='regform__form-fields__label') Пароль
                        input(class='regform__form-fields__input')
                    div(class='regform__form-agreement') Нажимая на кнопку «Отправить» Вы подтверждаете свое согласие с условиями договора оферты.
                    div(class='regform__form-enter') Отправить