div(class='transactform')
    div(class='transactform__data')
        div(class='transactform__caption') Внести транзакции
        div(class='transactform__switch')
            div(class='transactform__switch-button m-active') Расход
            div(class='transactform__switch-button') Доход

        div(class='transactform__label') Сумма
        div(class='transactform__input-container sum')
            input(class='transactform__input sum' placeholder='сумма')

        div(class='transactform__label') Дата
        div(class='transactform__input-container date')
            input(class='transactform__input date' type='date')

        div(class='transactform__label') Категория
        div(class='transactform__input-container category')
            select(class='transactform__input category')
                option Заработная плата
                option Продукты
                option Подарки
        div(class='transactform__label') Комментарий
        div(class='transactform__input-container comment')
            input(class='transactform__input comment' placeholder='комментарий')

        div(class='transactform__add') Добавить


    div(class='transactform__data')
        div(class='transactform__caption') Текущее состояние счета
        div(class='transactform__data-current')
            table(class='current__table table table-striped table-hover')
                thead
                    tr
                        th ID
                        th Счет
                        th Сумма
                        th Валюта
                tbody

                    tfoot
                        tr
                            td
                            td
                            td(data-sum='accounts')
                            td RUR
            div(class='current__diagramm')




