div(class='transactform')
    div(class='transactform__data')
        div(class='transactform__caption') Внести транзакции
        div(class='transactform__switch')
            div(class='transactform__switch-outgo m-active') Расход
            div(class='transactform__switch-profit m-active') Доход
        div(class='transactform_sum') Сумма
        input(class='transactform_sum-input' placeholder='сумма')
        div(class='transactform_date') Дата
        input(class='transactform_date-input' type='date')
        div(class='transactform_category') Категория
        input(class='transactform_category-input' placeholder='продукты')
        div(class='transactform_comment') Комментарий
        input(class='transactform_coment-input' placeholder='комментарий')
        div(class='transactform_add') Добавить
    div(class='transactform__data')
        div(class='transactform__data-captionSum') Текущее состояние счета
        div(class='transactform__data-valueSum')


