@charset "UTF-8";
body {
  background-color: #FFFFFF;
  min-width: 1250px;
  font-family: Helvetica; }

.main__container {
  margin: auto;
  width: 1200px;
  -webkit-box-shadow: -1px -1px 30px 19px rgba(0, 64, 46, 0.44);
  -moz-box-shadow: -1px -1px 30px 19px rgba(0, 64, 46, 0.44);
  box-shadow: -1px -1px 30px 19px rgba(0, 64, 46, 0.44); }
  .main__container-header {
    height: 50px;
    width: 100%;
    background-color: #00402e; }
    .main__container-header .header__buttons {
      width: 1000px;
      height: 100%;
      margin: auto; }
      .main__container-header .header__buttons .header__button {
        color: #efefef;
        font-family: Helvetica-Light;
        font-size: 13px;
        line-height: 50px;
        margin-left: 20px;
        cursor: pointer;
        display: inline-block;
        width: 200px;
        height: 50px;
        text-align: center; }
        .main__container-header .header__buttons .header__button:hover {
          opacity: 0.7; }
        .main__container-header .header__buttons .header__button.m-selected {
          position: relative;
          font-weight: bold;
          color: #FFFFFF; }
          .main__container-header .header__buttons .header__button.m-selected:after {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #006a4e transparent;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto; }
  .main__container-logoheader {
    height: 100px;
    width: 100%;
    background-color: #006a4e;
    display: inline-flex;
    position: relative; }
    .main__container-logoheader .logoheader-name {
      height: 100px;
      display: inline-block;
      width: 200px;
      color: white;
      line-height: 100px;
      text-align: center;
      font-size: 18px;
      margin-left: 50px; }
    .main__container-logoheader .logoheader-icon {
      height: 50px;
      width: 50px;
      margin-top: 25px;
      margin-left: 25px;
      background-image: url("../images/icons/i-logo.png");
      display: inline-block;
      background-size: cover; }
    .main__container-logoheader .logoheader-logincontainer {
      background-color: #005a42;
      height: 50px;
      width: 150px;
      margin-right: 50px;
      margin-top: 25px;
      position: absolute;
      right: 0;
      cursor: pointer;
      color: white;
      padding-left: 50px;
      line-height: 50px;
      font-size: 18px; }
      .main__container-logoheader .logoheader-logincontainer:before {
        width: 32px;
        height: 32px;
        content: '';
        position: absolute;
        left: 9px;
        top: 9px;
        background-image: url("../images/icons/i-lock.png"); }
      .main__container-logoheader .logoheader-logincontainer:after {
        width: 32px;
        height: 32px;
        content: '';
        position: absolute;
        right: 9px;
        top: 9px;
        background-image: url("../images/icons/i-down.png"); }
      .main__container-logoheader .logoheader-logincontainer:hover {
        background-color: #004a36; }
        .main__container-logoheader .logoheader-logincontainer:hover:after {
          background-image: url("../images/icons/i-up.png"); }

nav {
  display: block;
  position: relative; }

nav:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  background: linear-gradient(90deg, #EBF0F3 20%, #EBF0F3 25%, #9BB0C1 40%, #9BB0C1 50%, #5D8BAD 60%, #5D8BAD 75%, #041E34 80%, #041E34 100%); }

ul {
  width: 1000px;
  margin: 0 auto;
  /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0;
  list-style: none;
  /*убираем маркеры списка*/
  overflow: hidden; }

li {
  float: left;
  width: 25%; }

a {
  text-decoration: none;
  /*убираем подчеркивание текста ссылок*/
  text-align: center;
  display: block;
  color: #868686;
  padding: 0.5em 0;
  font-size: 2em;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  font-family: 'Montez', cursive;
  /*скачать шрифт можно с сайта https://www.google.com/fonts/*/ }

a:hover {
  color: #5D8BAD;
  /* цвет при навееднии на пункт верхнего меню */ }

h1 {
  text-align: center;
  color: #041E34;
  font-family: 'Montez', cursive;
  /*скачать шрифт можно с сайта https://www.google.com/fonts/*/ }

.block_main {
  border: 1px solid black;
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
  height: 600px; }

.block {
  padding: 5px;
  /* отступы внутри */
  border: solid 1px black;
  text-align: center;
  /* размещение текста */
  color: #4064ad;
  /* цвет текста */
  position: absolute;
  width: 200px;
  height: 200px; }

.block1 {
  left: 150px;
  top: 50px;
  background: url(../images/1.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.block2 {
  left: 500px;
  top: 50px;
  background: url(../images/2.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.block3 {
  left: 150px;
  top: 300px;
  background: url(../images/3.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.block3 img {
  border: 2px solid #8b8e4b;
  /* Параметры рамки */ }

.block3 p {
  margin: 0;
  /* Отступы */ }

.block4 {
  left: 500px;
  top: 300px;
  background-image: url(../images/4.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.login_main {
  left: 900px;
  top: 50px;
  border: 1px solid black;
  width: 300px;
  height: 300px;
  padding: 10px;
  position: absolute;
  -webkit-birder-radius: 6px;
  /* Строчки для закругления */
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: linear-gradient(#eeefef, #ffffff 10%); }

.login_main {
  left: 900px;
  top: 50px;
  border: 1px solid black;
  width: 300px;
  height: 150px;
  padding: 10px;
  position: absolute;
  -webkit-birder-radius: 6px;
  /* Строчки для закругления */
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: linear-gradient(#eeefef, #ffffff 10%); }

.name {
  top: 10px;
  border: 1px solid black;
  width: 250px;
  position: absolute; }

.password {
  top: 40px;
  border: 1px solid black;
  width: 250px;
  position: absolute; }

.login {
  top: 70px;
  width: 100px;
  height: 50px;
  position: absolute; }

p {
  text-align: center;
  color: #5D8BAD;
  font-family: 'Montez', cursive;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }
