body {
  background-color: #FFFFFF;
  min-width: 1250px;
  font-family: Helvetica; }

.main__container {
  margin: auto;
  width: 1200px;
  -webkit-box-shadow: -1px -1px 30px 19px rgba(0, 64, 46, 0.44);
  -moz-box-shadow: -1px -1px 30px 19px rgba(0, 64, 46, 0.44);
  box-shadow: -1px -1px 30px 19px rgba(0, 64, 46, 0.44); }
  .main__container-header {
    height: 50px;
    width: 100%;
    background-color: #00402e; }
    .main__container-header .header__buttons {
      width: 1000px;
      height: 100%;
      margin: auto; }
      .main__container-header .header__buttons .header__button {
        color: #efefef;
        font-family: Helvetica-Light;
        font-size: 13px;
        line-height: 50px;
        margin-left: 20px;
        cursor: pointer;
        display: inline-block;
        width: 200px;
        height: 50px;
        text-align: center; }
        .main__container-header .header__buttons .header__button:hover {
          opacity: 0.7; }
        .main__container-header .header__buttons .header__button.m-selected {
          position: relative;
          font-weight: bold;
          color: #FFFFFF; }
          .main__container-header .header__buttons .header__button.m-selected:after {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #006a4e transparent;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto; }
  .main__container-logoheader {
    height: 100px;
    width: 100%;
    background-color: #006a4e;
    display: inline-flex;
    position: relative; }
    .main__container-logoheader .logoheader-name {
      height: 100px;
      display: inline-block;
      width: 300px;
      color: white;
      line-height: 100px;
      text-align: center;
      font-size: 18px;
      margin-left: 50px; }
    .main__container-logoheader .logoheader-icon {
      height: 50px;
      width: 50px;
      margin-top: 25px;
      margin-left: 25px;
      background-image: url("../images/icons/i-logo.png");
      display: inline-block;
      background-size: cover; }
    .main__container-logoheader .logoheader-buttons {
      height: 50px;
      position: absolute;
      right: 200px;
      top: 25px;
      margin-right: 100px; }
      .main__container-logoheader .logoheader-buttons .logoheader-button {
        height: 50px;
        padding-left: 50px;
        position: relative;
        color: white;
        font-size: 15px;
        line-height: 50px;
        cursor: pointer;
        display: inline-block; }
        .main__container-logoheader .logoheader-buttons .logoheader-button:hover {
          opacity: 0.7; }
        .main__container-logoheader .logoheader-buttons .logoheader-button:after {
          width: 32px;
          height: 32px;
          position: absolute;
          top: 9px;
          left: 9px;
          content: ''; }
        .main__container-logoheader .logoheader-buttons .logoheader-button.m-phone:after {
          background-image: url("../images/icons/i-phone.png"); }
        .main__container-logoheader .logoheader-buttons .logoheader-button.m-search:after {
          background-image: url("../images/icons/i-search.png"); }
        .main__container-logoheader .logoheader-buttons .logoheader-button.m-faq:after {
          background-image: url("../images/icons/i-faq.png"); }
    .main__container-logoheader .logoheader-logincontainer {
      background-color: #005a42;
      height: 50px;
      width: 150px;
      margin-right: 50px;
      margin-top: 25px;
      position: absolute;
      right: 0;
      cursor: pointer;
      color: white;
      padding-left: 50px;
      line-height: 50px;
      font-size: 18px; }
      .main__container-logoheader .logoheader-logincontainer:before {
        width: 32px;
        height: 32px;
        content: '';
        position: absolute;
        left: 9px;
        top: 9px;
        background-image: url("../images/icons/i-lock.png"); }
      .main__container-logoheader .logoheader-logincontainer:hover {
        background-color: #004a36; }
  .main__container-menubar {
    height: 50px;
    width: 100%;
    background-color: #2d8259; }
    .main__container-menubar .menu__buttons {
      width: 1000px;
      height: 100%;
      margin: auto; }
      .main__container-menubar .menu__buttons .menu__button {
        width: 100px;
        height: 100%;
        line-height: 50px;
        text-align: center;
        color: white;
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;
        cursor: pointer; }
        .main__container-menubar .menu__buttons .menu__button:hover {
          background-color: white;
          color: #00402e; }
      .main__container-menubar .menu__buttons .m-home {
        height: 32px;
        width: 32px;
        background-image: url("../images/icons/i-home.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: 9px;
        cursor: pointer; }
        .main__container-menubar .menu__buttons .m-home:hover {
          opacity: 0.8;
          background-color: #2d8259; }
  .main__container-promo {
    height: 300px;
    width: 100%;
    background-image: url("../images/backgrounds/promo.jpg");
    background-size: cover;
    background-position-y: -100px;
    position: relative; }
    .main__container-promo-mask {
      background-color: rgba(255, 255, 255, 0.35);
      position: absolute;
      height: 300px;
      width: 100%;
      content: ''; }
    .main__container-promo .promo__header {
      position: absolute;
      border-radius: 10px;
      background-color: rgba(2, 71, 49, 0.5);
      -webkit-box-shadow: -2px 3px 43px 8px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -2px 3px 43px 8px rgba(0, 0, 0, 0.75);
      box-shadow: -2px 3px 43px 8px rgba(0, 0, 0, 0.75);
      width: 700px;
      top: 30px;
      padding: 20px;
      padding-bottom: 40px;
      left: 0;
      right: 0;
      font-size: 40px;
      font-weight: bold;
      margin: auto;
      text-align: center;
      color: white; }
    .main__container-promo .promo__lozung {
      position: absolute;
      width: 100%;
      bottom: 130px;
      text-align: center;
      color: white;
      font-size: 15px; }
    .main__container-promo .promo__registerbutton {
      position: absolute;
      bottom: 30px;
      height: 50px;
      width: 150px;
      line-height: 50px;
      text-align: center;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      background-color: #fd8a10;
      border-radius: 4px;
      margin: auto;
      left: 0;
      right: 0;
      cursor: pointer;
      text-decoration: none; }
      .main__container-promo .promo__registerbutton:hover {
        background-color: #6fa115; }
    .main__container-promo .promo__questions {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 190px;
      height: 40px;
      background-color: rgba(0, 0, 0, 0.4);
      line-height: 40px;
      font-size: 14px;
      padding-left: 10px;
      cursor: pointer;
      color: #FFFFFF; }
      .main__container-promo .promo__questions:after {
        position: absolute;
        right: 4;
        top: 4;
        content: '';
        width: 32px;
        height: 32px;
        background-image: url("../images/icons/i-faq.png"); }
      .main__container-promo .promo__questions:hover {
        opacity: 0.8; }
  .main__container-tezis {
    background-color: #f5f5f5;
    height: 290px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding-left: 4%; }
    .main__container-tezis .tezis__point {
      height: 100%;
      width: 32%;
      display: inline-table;
      position: relative; }
      .main__container-tezis .tezis__point-title {
        color: #006a4d;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
        text-align: center; }
      .main__container-tezis .tezis__point-postfix {
        color: #006a4d;
        font-size: 14px;
        width: 100%;
        position: absolute;
        bottom: 20px;
        text-align: center; }
      .main__container-tezis .tezis__point:after {
        content: '';
        position: absolute;
        right: 10px;
        height: 80px;
        width: 80px;
        top: 60px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; }
      .main__container-tezis .tezis__point.m-donnut:after {
        background-image: url("../images/icons/i-donnut.png"); }
      .main__container-tezis .tezis__point.m-forecast:after {
        background-image: url("../images/icons/i-forecast.png"); }
      .main__container-tezis .tezis__point.m-spendings:after {
        background-image: url("../images/icons/i-spendings.png"); }
      .main__container-tezis .tezis__point-element {
        margin-top: 5px;
        color: #616572;
        text-align: left;
        width: 270px;
        box-sizing: border-box;
        position: relative;
        padding-left: 35px; }
        .main__container-tezis .tezis__point-element__title {
          font-size: 15px;
          line-height: 24px; }
        .main__container-tezis .tezis__point-element__text {
          font-size: 13px; }
        .main__container-tezis .tezis__point-element:after {
          content: '';
          height: 24px;
          width: 24px;
          position: absolute;
          top: 12px;
          background-repeat: no-repeat;
          background-position: center;
          left: 0;
          background-size: contain; }
        .main__container-tezis .tezis__point-element.m-reports:after {
          background-image: url("../images/icons/i-reports.png"); }
        .main__container-tezis .tezis__point-element.m-tagsauto:after {
          background-image: url("../images/icons/i-tagsauto.png"); }
        .main__container-tezis .tezis__point-element.m-tagscustom:after {
          background-image: url("../images/icons/i-tagscustom.png"); }
        .main__container-tezis .tezis__point-element.m-forecast:after {
          background-image: url("../images/icons/i-forecast-small.png"); }
        .main__container-tezis .tezis__point-element.m-alert:after {
          background-image: url("../images/icons/i-alert.png"); }
        .main__container-tezis .tezis__point-element.m-budget:after {
          background-image: url("../images/icons/i-budget.png"); }
        .main__container-tezis .tezis__point-element.m-reminder:after {
          background-image: url("../images/icons/i-reminder.png"); }
  .main__container-footer {
    background: #006a4d;
    background: linear-gradient(to right, #00553e 0%, #006a4d 100%);
    height: 50px;
    width: 100%;
    position: relative; }
    .main__container-footer:before {
      background-image: url("../images/icons/i-leaf.png");
      height: 64px;
      width: 64px;
      background-size: contain;
      position: absolute;
      top: -32px;
      left: 0;
      right: 0;
      margin: auto;
      content: ''; }
    .main__container-footer .footer__label {
      position: absolute;
      bottom: 5px;
      width: 100%;
      color: #FFF;
      text-align: center;
      font-size: 12px; }

/*# sourceMappingURL=index.css.map */
