.transactform {
  width: 100%;
  height: 500px;
  position: relative;
  display: inline-flex;
  box-sizing: border-box; }
  .transactform__caption {
    font-size: 20px;
    color: #444444;
    margin: 5px;
    font-weight: 200;
    margin-bottom: 10px; }
  .transactform__switch {
    display: inline-flex;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #444444;
    box-sizing: border-box;
    margin: 5px; }
    .transactform__switch-button {
      display: inline-block;
      box-sizing: border-box;
      width: 100px;
      line-height: 28px;
      text-align: center;
      color: #444444;
      cursor: pointer; }
      .transactform__switch-button.m-active {
        color: #FFFFFF;
        background-color: #00a65a;
        border-radius: 15px; }
      .transactform__switch-button:hover {
        opacity: 0.7; }
  .transactform__label {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    background-color: white; }
  .transactform__input {
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid #cccccc; }
    .transactform__input-container {
      background-color: white;
      width: 100%;
      height: 32px;
      box-sizing: border-box;
      padding-left: 32px;
      position: relative; }
      .transactform__input-container:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 32px;
        width: 32px;
        background-color: #f4f4f4;
        border: 1px solid #cccccc;
        box-sizing: border-box;
        border-right: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
      .transactform__input-container.sum:after {
        background-image: url("../images/icons/i-card.png"); }
      .transactform__input-container.date:after {
        background-image: url("../images/icons/i-calendar.png"); }
      .transactform__input-container.category:after {
        background-image: url("../images/icons/i-category.png"); }
      .transactform__input-container.comment:after {
        background-image: url("../images/icons/i-comment.png"); }
  .transactform__add {
    background-color: #00a65a;
    color: #FFFFFF;
    height: 30px;
    width: 100px;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 3px;
    line-height: 28px;
    text-align: center;
    cursor: pointer; }
    .transactform__add:hover {
      opacity: 0.7; }
  .transactform__data {
    width: 50%;
    height: 450px;
    border-top: 2px solid #00a65a;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    margin-top: 10px; }
    .transactform__data-captionsum {
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
      border: 2px solid #f6753e;
      text-align: center;
      font-size: 20px;
      height: 25px;
      color: #f65412;
      font-weight: bold; }
    .transactform__data-valuesum {
      margin-top: 25px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      height: 45px;
      font-size: 30px;
      color: white;
      background-color: #f6753e; }
