html
    head
        title My Finance
        link(href="/css/index.css" rel="stylesheet")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8/")
    body
        div(class='main__container')
            div(class='main__container-header')
                div(class='header__buttons')
                    div(class='header__button m-selected') Личные финансы
                    div(class='header__button') Корпоративный сектор
            div(class='main__container-logoheader')
                div(class='logoheader-name') ФИНАНСОВЫЙ ПОМОЩНИК
                div(class='logoheader-icon')
                div(class='logoheader-buttons')
                    div(class='logoheader-button m-phone') Контакты
                    div(class='logoheader-button m-search') Поиск
                    div(class='logoheader-button m-faq') FAQ
                div(class='logoheader-logincontainer') Вход
            div(class='main__container-menubar')
                div(class='menu__buttons')
                    div(class='menu__button m-home')
                    div(class='menu__button') Планирование
                    div(class='menu__button') Транзакции
                    div(class='menu__button') Анализ
                    div(class='menu__button') Друзья
            div(class='main__container-promo')
                div(class='main__container-promo-mask')
                div(class='promo__header') ТВОЯ ЦЕЛЬ МОЖЕТ БЫТЬ БЛИЖЕ СТРЕМИСЬ К НЕЙ
                div(class='promo__lozung') Учитесь управлять своими деньгами, и они не смогут управлять вами
                div(class='promo__registerbutton') Регистрация
                div(class='promo__questions') Вопросы? Мы ответим
            div(class='main__container-tezis')
                div(class='tezis__point m-donnut')
                    div(class='tezis__point-title') Пойми куда уходят твои деньги

                    div(class='tezis__point-element m-reports')
                        div(class='tezis__point-element__title') ОТЧЕТЫ
                        div(class='tezis__point-element__text') Различные средства визуализации
                    div(class='tezis__point-element m-tagscustom')
                        div(class='tezis__point-element__title') НАСТРАИВАЕМЫЕ ТЭГИ
                        div(class='tezis__point-element__text') Создай и организуй свою структуру тэгов
                    div(class='tezis__point-element m-tagsauto')
                        div(class='tezis__point-element__title') АВТОВЫСТАВЛЕНИЕ ТЭГОВ
                        div(class='tezis__point-element__text') Правила выставления тэгов по каждому типу транзакции

                    div(class='tezis__point-postfix') Визуализируй, анализируй и выявляй свои траты
                div(class='tezis__point m-forecast')
                    div(class='tezis__point-title') Откладывай на будущие цели

                    div(class='tezis__point-element m-forecast')
                        div(class='tezis__point-element__title') ПРОГНОЗИРУЙ
                        div(class='tezis__point-element__text') Предвидь будущие рассходы и рассчитывай бюджет, основываясь на накопленной истории трат

                    div(class='tezis__point-postfix m-upper') Копи и прогнозируй свое финасовое будущее
                div(class='tezis__point m-spendings')
                    div(class='tezis__point-title') Уменьши нежелательные траты

                    div(class='tezis__point-element m-budget')
                        div(class='tezis__point-element__title') УСТАНОВКА БЮДЖЕТОВ
                        div(class='tezis__point-element__text') Выставляй периодические тематические лимиты.
                    div(class='tezis__point-element m-alert')
                        div(class='tezis__point-element__title') УВЕДОМЛЕНИЯ
                        div(class='tezis__point-element__text') Получай уведомления на свои мобильные устройства о превышении своего бюджета
                    div(class='tezis__point-element m-reminder')
                        div(class='tezis__point-element__title') НАПОМИНАНИЯ
                        div(class='tezis__point-element__text') Напоминания о запланированных тратах и счетах. И больше ни пенни!

                    div(class='tezis__point-postfix') Выставляй уведомления о превышениях
            div(class='main__container-footer')
                div(class='footer__label') © DSamokhina 2016

    script(type='text/javascript' src='/js/index.js')